<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">

    <title>lrndesign-image demo</title>

    <script src="../../webcomponentsjs/webcomponents-lite.js"></script>

    <link rel="import" href="../../iron-demo-helpers/demo-pages-shared-styles.html">
    <link rel="import" href="../../iron-demo-helpers/demo-snippet.html">
    <link rel="import" href="../lrndesign-image.html">

    <style is="custom-style" include="demo-pages-shared-styles">
    </style>
  </head>
  <body>
    <div class="vertical-section-container centered">
      <h3>lrndesign-image</h3>
      <demo-snippet>
        <template>
          <lrndesign-image display="image" src="http://unsplash.it/458/354" height="200" width="500" alt="Hammers, so many hammers"></lrndesign-image>
        </template>
      </demo-snippet>
    </div>
    <div class="vertical-section-container centered">
      <h3>lrndesign-image parallax</h3>
      <demo-snippet>
        <template>
          <lrndesign-image display="parallax" src="http://unsplash.it/458/354" height="200" alt="Hammers, so many hammers"></lrndesign-image>
        </template>
      </demo-snippet>
    </div>
    <div class="vertical-section-container centered">
      <h3>lrndesign-image lightbox</h3>
      <demo-snippet>
        <template>
          <lrndesign-image title="My awesome hammers" display="lightbox" src="http://unsplash.it/458/354" height="200" width="200" alt="Hammers, so many hammers"></lrndesign-image>
        </template>
      </demo-snippet>
    </div>
  </body>
</html>
